<!DOCTYPE html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/topojson.min.js"></script>
    <title>Metrics</title>
    <script src="/static/js/d3.v4.min.js" charset="utf-8"></script>
  <!-- metricsgraphics -->
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link href='/static/css/metricsgraphics.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/addons/mg_line_brushing.css" type="text/css" />
    <script src='/static/js/lib/highlight.pack.js'></script>
    <!-- metricsgraphics dev start -->
    <script src='/static/js/MG.js'></script>
    <script src='/static/js/misc/utility.js'></script>
    <script src='/static/js/common/data_graphic.js'></script>
    <script src='/static/js/common/hooks.js'></script>
    <script src='/static/js/common/register.js'></script>
    <script src='/static/js/common/bootstrap_tooltip_popover.js'></script>
    <script src='/static/js/common/scales.js'></script>
    <script src='/static/js/common/chart_title.js'></script>
    <script src='/static/js/common/y_axis.js'></script>
    <script src='/static/js/common/x_axis.js'></script>
    <script src='/static/js/common/init.js'></script>
    <script src='/static/js/common/markers.js'></script>
    <script src='/static/js/common/rollover.js'></script>
    <script src='/static/js/common/window_listeners.js'></script>
    <script src='/static/js/layout/bootstrap_dropdown.js'></script>
    <script src='/static/js/layout/button.js'></script>
    <script src='/static/js/charts/line.js'></script>
    <script src='/static/js/charts/histogram.js'></script>
    <script src='/static/js/charts/point.js'></script>
    <script src='/static/js/charts/bar.js'></script>
    <script src='/static/js/charts/table.js'></script>
    <script src='/static/js/charts/missing.js'></script>
    <script src='/static/js/misc/process.js'></script>
    <script src='/static/js/misc/smoothers.js'></script>
    <script src='/static/js/misc/formatters.js'></script>
    <script src='/static/js/misc/transitions.js'></script>
    <script src='/static/js/misc/error.js'></script>    
    <script src='/static/js/addons/mg_line_brushing.js'></script>
    <!-- end metricsgraphics -->
    <!-- charts.js -->
    <!-- <script src="js/chartsjs/Chart.bundle.min.js"></script> -->
     <!-- end charts.js -->

    <script src="/static/js/custom/metrics_custom.js"></script>
</head>

<body>

<table width = "100%" border=1>
    <tr>
        <td valign="top">
            <div id="total_queries"></div>
        </td>
</tr>
</table>

</body>
</html>